
// Fonts
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Responsive Iframes
@import 'responsive-iframe';

// nProgress Bar
// @import url('https://unpkg.com/nprogress@0.2.0/nprogress.css');

// Editor Stylesheet
@import 'editor';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.img-circle {
	border-radius: 50%;
}

.navbar-brand {
	font-family: "Major Mono Display", sans-serif;
	font-size: 2rem;
}